html {
    font-size: 12px;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.3;
    background: linear-gradient(to bottom, $softViolet, $softBlue);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
    overflow: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}